body {
    background-color: #f2f9fd;
}

h2 {
    color: #343a40;
}

h1 {
    color: #333;
} 

nav.navbar {
    margin-bottom: 20px;
}

.container {
    max-width: 600px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.container-fluid {
    background-color: rgb(153, 188, 219);
}